<%= form_with(model: publication) do |form| %>
  <% if publication.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

      <ul>
        <% publication.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :image, style: "display: block" %>
    <%= form.file_field :image %>
  </div>

  <div class="mb-3">
   <label for="exampleFormControlInput1" class="form-label">
    <%= form.label :title, style: "display: block" %>
    </label>
    <label for="exampleFormControlTextarea1" class="form-label">
    <%= form.text_field :title %>
    </label>
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">
    <%= form.label :description, style: "display: block" %></label>
    <label for="exampleFormControlTextarea1" class="form-label">
    <%= form.text_area :description %>
    </label>
  </div>

  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">
    <%= form.label :user_id, style: "display: block" %></label>
   <label for="exampleFormControlTextarea1" class="form-label">
    <%= form.text_field :user_id %>
    </label>
  </div>

  <div class="mb-3">
    <%= form.submit %>
  </div>
<% end %>
