<div id="<%= dom_id publication %>">

<div class="col-4">
     <div class="card">
     <div class="card-body">
       <h5 class="card-title">Publicación</h5>
  <p class="card"></p>
  <strong>Image:</strong>
  <img src=<%= publication.image %> class="card-img-top" alt="...">
   </p> 
  <p class="card-text">
    <strong>Title:</strong>
    <%= publication.title %>
  </p>

  <p class="card-text">
    <strong>Description:</strong>
    <%= publication.description %>
  </p>

  <p class="card-text">
    <strong>User:</strong>
    <%= publication.user_id %>
  </p>

</div>
</div>
</div>