<p style="color: green"><%= notice %></p>

<%= render @publication %>


<div>
  <% if user_signed_in? %>
  <% if current_user.id == @post.user_id %>
  <%= link_to "New publication", new_publication_path %>
  <%= link_to "Edit this publication", edit_publication_path(@publication) %> 
  <%= link_to "Back to publications", publications_path %>
  <%= button_to "Destroy this publication", @publication, method: :delete %>
  <%end%>
<%end%>  
</div>

