<nav>
  <ul>
  <% if user_signed_in? %>
  <li>
  <%= current_user.email %>
  </li>
  
  <li>
  <%= button_to 'cierra sesion', destroy_user_session_path, method: :delete %>
  </li>
  <% link_to 'Editar perfil', edit_user_registration_path %>
  <li>
  <%= link_to "Nueva publicacion", new_publication_path %>
  </li>
  <li>
  <%= link_to "Publicaciones", publications_path %>
  </li>
  <li class="nav-item">
 <%= link_to 'Tus reacciones', my_reactions_path, class: 'nav-link' %>
 </li>
  <% else %>
  <li>
  <%= link_to 'registrate', new_user_registration_path %>
  </li>
  <li>
  <%= link_to 'inicia sesion', new_user_session_path %>
  </li>
  <li>
  <%= button_to 'cierra sesion', destroy_user_session_path, method: :delete %>
  </li>
  <% end %>
  </ul>
  </nav>